/* untuk h1 warna merah dan ukurnan font 30px */
h1 {
    color: red;
    font-size: 30px;
}
/* untuk h2 warna biru dan ukuran font 25px */
h2 {
    font-size: 20px;
}
/* untuk p warna hijau dan ukuran font 10px */
p {
    color: green;
    font-size: 10px;
}